body {
  font-family: "Roboto", sans-serif;
  min-width: 500px;
  margin: 100px auto;
}

h1 {
  font-size: 30px;
  text-align: center;
  display: block;
  font-weight: bolder;
}

#country {
  font-size: 15px;
}

h2 {
  text-align: center;
  display: block;
  font-size: 30px;
}

h2 img {
  max-width: 50px;
}

#celsius-link {
  font-size: 15px;
  color: black;
  cursor: default;
  position: relative;
  top: -15px;
  text-decoration: none;
}

#fahrenheit-link {
  font-size: 15px;
  position: relative;
  top: -15px;
}

h3 {
  text-align: center;
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

ul {
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  font-style: italic;
  text-align: center;
}

#description {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  text-align: center;
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.weather-forecast {
  margin-top: 7px;
}

.weather-forecast h4 {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  height: 13px;
  line-height: 15px;
  padding-top: 5px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}

button {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: rgb(214, 245, 164);
  padding: 10px;
  border: 2px solid black;
  border-radius: 100px;
}

.search-form {
  display: block;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.weather-app {
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  border: 25px solid #252525;
  border-radius: 90px;
  padding: 0px 10px;
  max-width: 420px;
  margin: 30px auto;
}

.view {
  text-align: center;
  display: block;
  font-size: 10px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}
